.cart-container {
    padding: 0px 104px;
}

.cart-is-empty-container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.products-in-cart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.cart-item-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E6F0FB;
    width: 250px;
    height: 250px;
    padding: 0;
    border-radius: 27px;
}

.cart-item-container {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.12);
    padding: 0 !important;
    border-radius: 27px;
}

.cart-item-info-container {
    margin-left: 8px;
    display: flex;
    flex: 1;
    flex-direction: column;
}

.count-handler {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 10px;
}

.product-quantity {
    margin: 0px 10px;
    font-size: 28px;
}

.products-in-cart-row {
    padding-left: 0 !important;
}

.remove-product-btn {
    margin-left: 20px;
    background-color: transparent;
}

.remove-product-icon {
    width: 32px;
    height: 32px;
}

.cart-counter-btn {
    width: 32px;
    height: 32px;
    background-color: transparent;
}