.footer-nav-wrapper {
    display: flex;
    flex-direction: row;
}

.footer-section-title {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #253D4E;
}

.footer-section-wrapper {
    margin-right: 160px; 
}

.footer-logo-container {
    margin-left: 102px;
    margin-right: 240px;
}

.footer-divider {
    margin-left: 102px;
    margin-right: 102px;
    margin-top: 87px;
    margin-bottom: 54px;
    border: 2px solid gray
}

.band-info {
    display: flex;
    flex-direction: row;
  }
  
  .footer-copyright-info {
    margin-left: 102px;
    margin-bottom: 49px;
  }
  
  .payments {
    margin-left: 807px;
    margin-right: 102px;
    margin-bottom: 45px;
  }