@import url('https://fonts.googleapis.com/css?family=Poppins');


ul {
  list-style: none;
  padding: 0 !important;
  margin: 0;
}

p {
  margin: 0;
  margin-bottom: 0;
}

button {
  border: none;
}

textarea {
  background: #FFFFFF;
  border: 1px solid #112B3C;
  padding: 20px 21px;
  resize: none;
  box-sizing: border-box;
  font-family: 'Poppins';
  overflow: hidden;
}

li {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-top: 14px;
}

button:focus {
  outline: none;
  box-shadow: 0 0 0 5px rgba(21, 156, 228, 0.4);
}

button:active {
  transform: translateY(4px);
  top: 3px;
  box-shadow: 0 2px 0px #387796;
  transition: all .2s;
}


body {
  margin: 0;
  font-family: 'Poppins';
  background-color: #FBFBFB;
}

.text-link {
  text-decoration: inherit;
  color: inherit;
}

code {
  font-family: 'Poppins', monospace;
}